glob2
python-dotenv
faicons
langchain
shiny
pathlib
requests
pandas
langchain_openai
langchain_experimental
icons
xlrd
tabulate
matplotlib
numpy
scikit-learn
statsmodels
seaborn
openpyxl
beautifulsoup4
tokenizers
plotly
ipyleaflet
leafmap
rasterio
geopandas
prophet
shinywidgets
pathlib
glob2
faicons
selenium
bs4
sqlalchemy